@use "../../index.scss" as *; //to import static scss rules/styles

.leftBar {
  flex: 2;
  padding: 15px 20px;
  height: calc(100vh - 60px); //good
  max-width: 300px;
  position: sticky;
  top: 60px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  @include mobile {
    display: none;
  }
  background-color: white;
  section {
    h6 {
      margin-bottom: 10px;
      margin-left: 5px;
      font-family: system-ui;
      font-weight: 600;
    }
    .items {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 10px;
      & :hover {
        cursor: pointer;
      }
      img {
        width: 25px;
        height: 25px;
        object-fit: contain;
        &.profile {
          border-radius: 50%;
        }
      }
      span {
        font-size: 14px;
        font-family: system-ui;
      }
    }
  }
  hr {
    margin-block: 15px 10px;
  }
}
