@import "../../index.scss";

.navbar {
  width: 100%;
  height: 60px;
  //   border: solid;
  padding: 10px 10px 10px 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  border-bottom: 1px solid lightgray;
  position: sticky;
  top: 0;
  z-index: 4;
  background-color: white;
  .left {
    display: flex;
    align-items: center;
    gap: 45px;
    @include mobile {
      justify-content: space-between;
      width: 100%;
    }
    & :hover {
      cursor: pointer;
    }
    h1 {
      color: $primary-color;
    }
    .icons {
      display: flex;
      // justify-content: space-between;
      gap: 35px;
      align-items: center;
      width: fit-content;
      .searchBox {
        // position: relative;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 5px 10px;
        border-radius: 10px;
        border: 1px solid lightgray;
        cursor: initial;
        &:hover {
          border: 1.5px solid $primary-border-color;
        }
        input {
          width: 250px;
          cursor: initial;
          // padding: 5px;
          // font-family: system-ui;
          // padding-left: 30px;
          // border-radius: 5px;
          border: none;
          background-color: transparent;
          // border: 1.3px solid gray;
          &:focus {
            // outline: 1.5px solid $primary-border-color;
            outline: none;
          }
          @include mobile {
            display: none;
          }

          @include tablet {
            width: 100px;
          }
        }
        .searchIcon {
          // position: absolute;
          cursor: initial;
          left: 7px;
          @include mobile {
            // border: solid;
          }
        }
      }
    }
  }
  .right {
    // width: 270px;
    display: flex;
    align-items: center;
    // border: solid;
    // justify-content: space-between;
    & :hover {
      cursor: pointer;
    }
    @include mobile {
      display: none;
    }
    // @include tablet {

    // }
    @include desktop {
      :not(h1, img, span) {
        display: none;
      }
      & {
        justify-content: flex-end;
      }
    }
    gap: 30px;
    p {
      background-color: $secondary-color;
      padding: 4px 10px 6px;
      border-radius: 6px;
      font-weight: 500;
      margin-left: 5px;
      cursor: pointer;
      color: white;
      &:hover {
        background-color: $secondary-hover-color;
      }
    }
    .user {
      display: flex;
      align-items: center;
      gap: 10px;
      img {
        width: 40px;
        border-radius: 50%;
      }
    }
  }

  // @media screen and (max-width: 900px) {
  //   :not(h1, img, span) {
  //     display: none;
  //   }
  //   .right {
  //     justify-content: flex-end;
  //   }
  // }
}
